<div class="center-form">
  <img src="../../../assets/logo.jpeg" alt="logo" class="logo" />
  <h2>Enter Details to Register</h2>

  <form nz-form [formGroup]="registerForm" class="custom-form">
    <!-- Name Field -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your name!">
        <nz-input-group nzPrefixIcon="idcard">
          <input
            type="text"
            nz-input
            formControlName="name"
            placeholder="Enter name"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Email Field -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Enter email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Password Field -->
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Enter password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Register Button -->
    <button
      nz-button
      nzType="primary"
      nzBlock
      [disabled]="registerForm.invalid"
      class="w-100"
    >
      Register
    </button>
  </form>
</div>
