<nz-layout class="app-layout">
  <nz-sider
    nzCollapsible
    nzWidth="200px"
    *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn"
  >
    <div class="sidebar-logo">
      <img src="assets/logo.png" alt="logo" />
      <strong>Hotel System</strong>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/register">
        <span nz-icon nzType="user"></span>
        <span><strong>Register</strong></span>
      </li>
      <li nz-menu-item routerLink="/login">
        <span nz-icon nzType="login"></span>
        <span><strong>Login</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-sider nzCollapsible nzWidth="200px" *ngIf="isAdminLoggedIn">
    <div class="sidebar-logo">
      <img src="assets/logo.png" alt="logo" />
      <strong>Admin Panel</strong>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/admin/room">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Post Room</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/rooms">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/admin/reservations">
        <span nz-icon nzType="pull-request"></span>
        <span><strong>Reservations</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-sider
    nzCollapsible
    nzWidth="200px"
    *ngIf="isCustomerLoggedIn"
    nzTheme="dark"
  >
    <div class="sidebar-logo">
      <img src="assets/logo.png" alt="logo" />
      <span></span><strong>Customer Portal</strong>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/customer/rooms">
        <span nz-icon nzType="apartment"></span>
        <span><strong>Rooms</strong></span>
      </li>
      <li nz-menu-item routerLink="/customer/bookings">
        <span nz-icon nzType="book"></span>
        <span><strong>Bookings</strong></span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-icon nzType="logout"></span>
        <span><strong>Logout</strong></span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer>Hotel Management System ©2026 Created by Developer</nz-footer>
  </nz-layout>
</nz-layout>
////
